* {
    box-sizing: border-box;
}

html, body, h1, ul, ol, li, a, img, p, div, header, nav, main, article, section, form, fieldset,legend {
    list-style: none; 
    text-decoration: none;
}

.skip {
    display: none;
}

.a {
    text-decoration: none;
}

main {
    height: 520px;
}
#wrap_login_page {
    width: 320px; margin: 0 auto;
}
main #wrap_login_page {text-align: center; margin: 100px auto 10px;}
main #wrap_login_page #login_form {border: 1px solid rgb(188, 188, 189);}
main #wrap_login_page #login_form fieldset{border: 0;}
main #wrap_login_page #login_form fieldset h1 {
    background-color: white;
}
main #wrap_login_page #login_form fieldset h1 img {
    width:174px; height: 65px; margin-top: 15px;
}

main #wrap_login_page #login_form fieldset {
    list-style: none; list-style-type: none;
}

main #wrap_login_page #login_form fieldset ul {
   margin: 15px 0; padding: 0;
}
main #wrap_login_page #login_form fieldset ul li {
    width: 100%; margin: 0 auto;  
}

main #wrap_login_page #login_form fieldset ul #user_id input {
    box-shadow: none;
}

main #wrap_login_page #login_form fieldset ul #id_user {
    width: 90%; margin:0; padding: 0; height: 36px;
    background-color: rgb(240, 238, 238);  
    border-radius: 3px; border-color: rgb(232, 231, 231);
    box-shadow: none;
}
main #wrap_login_page #login_form fieldset ul #pwd_user {
    background-color: rgb(240, 238, 238);
    border-radius: 3px; border-color: rgb(232, 231, 231);
    width: 90%; height: 36px;
    margin-top: 10px; margin-bottom: 10px;
    box-shadow: none;
}

main #wrap_login_page #login_form fieldset ul li.error_id_hide {
    display: none; 
}
main #wrap_login_page #login_form fieldset ul li.error_pwd_hide {
    display: none;
}
main #wrap_login_page #login_form fieldset ul li span {}
main #wrap_login_page #login_form fieldset ul li span input {}
main #wrap_login_page #login_form fieldset ul li span input[type=text]{}
main #wrap_login_page #login_form fieldset ul li span input[type=password]{}
main #wrap_login_page #login_form fieldset ul li #id_user {}
main #wrap_login_page #login_form fieldset ul li #pwd_user {}
main #wrap_login_page #login_form fieldset ul li .pw_hide {}
main #wrap_login_page #login_form fieldset #login_button {
    background-color: rgb(88, 194, 236); margin: 20px auto;
    width: 90%; color:white; padding:20px 0; height: 32px;
    display: flex; align-items: center; justify-content: center;
    border: 1px; border-radius: 10px; font-weight: 600;
    cursor: pointer;
}
main #wrap_login_page #login_form fieldset #login_button input[type=submit]{

}
main #wrap_login_page #login_form fieldset #line {
    display: flex; flex-flow:row nowrap;
    padding:10px 0; 
}
main #wrap_login_page #login_form fieldset #line .hr {
    border: 1px solid rgb(188, 188, 189);
    height: 1px;
    width: 110px;  
}
main #wrap_login_page #login_form fieldset #line .or {
    display: flex; text-align: center; justify-content: center;
    color: rgb(128, 128, 128); font-size: 14px; font-weight: 600;
    margin: 0px 5px 5px 10px; padding-bottom: 16px;
}

main #wrap_login_page #login_form fieldset .facebook button{
    border: 0; 
}
main #wrap_login_page #login_form fieldset #facebook_sign_in {
    color: rgb(7, 7, 107); font-weight: 600; font-size: 14px; cursor: pointer;
    background-color: white;
}
main #wrap_login_page #login_form fieldset #facebook_sign_in img{
    width: 16px; height: 16px; margin-right: 5px;
}

main #wrap_login_page #login_form fieldset .facebook button input[type=button] {}
main #wrap_login_page #login_form fieldset .find_pwd button input[type=button] {}

main #wrap_login_page #login_form fieldset .find_pwd button{
    border: 0;
}

main #wrap_login_page #login_form fieldset #find_pwd {
    font-size: 12px; color: rgb(62, 62, 62); cursor: pointer;
    background-color: white;
    margin: 20px auto 15px;
}

main #wrap_login_page #sign_in{
    margin-top:10px; height: 61px;
    border: 1px solid rgb(188, 188, 189);
    display: flex; align-items: center; justify-content: center; text-align: center;
}

main #wrap_login_page #sign_in fieldset { 
    border: 0; 
    height: 41px;
}
main #wrap_login_page #sign_in fieldset ul {
    margin-top: 0; margin-right: 40px;
    align-items: center; justify-content: center;
}
main #wrap_login_page #sign_in fieldset ul li {
    font-size: 14px;
}
main #wrap_login_page #sign_in fieldset ul li .join {
    font-weight: 600; color: rgb(57, 169, 225);
    margin-left: 5px; cursor: pointer;
}
main #wrap_login_page #sign_in fieldset ul li .join input[type=button] {}











